html,body{
height: 100%;
margin:0;
}

body{
    background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}

#hd1,#hd2,#hd3{
background-color:lightgreen;

}
#login_button{
    background-color:lightgreen;
    color:black;
    
}